<div class="pt-5 pb-6 justify-content-center text-center">
  <h1>Future Zoo Entrance Ticket</h1>
  <p>(Maybe put an image here)</p>
  <%= link_to "Buy Zoo Ticket", "javascript:zoo_ticket()", class: "btn btn-success" %>
</div>