<% define_constants %>
<% @image_url = "https://ipfs.io/ipfs/bafybeia6reket35545vhppdlomv6rhioszivifyjxsl2w6okkszloyln6e/Movie_Tickets.jpeg" %>

<div class="row gap-3 pt-5 pb-6 text-center">
  <h1>Movie Ticket Entrance</h1>

  <div class="d-flex align-items-center justify-content-center">
    <div class="card" style="width: 18rem;">
      <%= image_tag @image_url, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">Movie ticket for 4</h5>
        <p class="card-text">
          Can share within a family
        </p>
      </div>
    </div>
  </div>
  
  <%= link_to "Buy Movie Ticket", "javascript:movie_ticket('#{@token_id}')", class: "btn btn-success" %>

  <p class="text-center">
    Numbers minted: 
    <%= get_tickets_left "movie_tickets" %> / <%= get_total_tickets "movie_ticket" %>
  </p>
</div>