<footer class="footer fixed-bottom text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between border-bottom">
    <div class="me-5 d-none d-lg-block">
      <small>
        Code: 
        <a href="https://github.com/Wabinab/SiNEAR_2022_Zoo_NFT">
          https://github.com/Wabinab/SiNEAR_2022_Zoo_NFT
        </a> 
      </small>
    </div>
  </section>
</footer>